torch==2.2.2
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
requests==2.31.0
scikit-learn==1.4.2
adapters==0.1.2
transformers==4.39.3
datasets==2.18.0
scipy==1.13.0
huggingface-hub==0.21.4
accelerate==0.29.2